---
import { SITE } from '../constants/site';

type Props = {
  /** true のとき見出し「所在地」を出さない（親パネルに既にある場合） */
  hideTitle?: boolean;
};

const { hideTitle = false } = Astro.props;
---

<section class="addressBlock" aria-label="所在地">
  {!hideTitle && <h3 class="smallTitle">所在地</h3>}
  <address class="address">
    {SITE.addressLines.map((l) => (
      <span class="addressLine">{l}</span>
    ))}
  </address>
</section>
